@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style for WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 30px; /* Round edges */
  border: 2px solid transparent; /* Add space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change thumb color on hover */
}

/* Style for Firefox */
html {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #212020 #000000; /* Thumb and track color */
}
html {
  scroll-behavior: smooth;
}

/* Optional: Customize scroll speed and behavior in specific sections */
section {
  scroll-margin-top: 20px; /* Adjust to control where scroll ends */
}

.stripe_line {
  background: hsla(189, 38%, 28%, 1);

  background: linear-gradient(
    180deg,
    hsla(189, 38%, 28%, 0) 0%,
    hsla(189, 38%, 28%, 1) 5%,
    hsla(178, 97%, 63%, 1) 15%,
    hsla(129, 84%, 49%, 1) 86%,
    hsla(175, 74%, 17%, 1) 95%,
    hsla(175, 74%, 17%, 0) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(189, 38%, 28%, 0) 0%,
    hsla(189, 38%, 28%, 1) 5%,
    hsla(178, 97%, 63%, 1) 15%,
    hsla(129, 84%, 49%, 1) 86%,
    hsla(175, 74%, 17%, 1) 95%,
    hsla(175, 74%, 17%, 0) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(189, 38%, 28%, 0) 0%,
    hsla(189, 38%, 28%, 1) 5%,
    hsla(178, 97%, 63%, 1) 15%,
    hsla(129, 84%, 49%, 1) 86%,
    hsla(175, 74%, 17%, 1) 95%,
    hsla(175, 74%, 17%, 0) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(
    startColorstr="#002C5A00",          
    endColorstr="#0044FC00",            
    GradientType=1
  );
}

.stripe_full {
  background: hsla(189, 38%, 28%, 1);

  background: linear-gradient(
    360deg,
    hsla(189, 38%, 28%, 1) 0%,
    hsla(178, 97%, 63%, 1) 0%,
    hsla(129, 84%, 49%, 1) 100%,
    hsla(175, 74%, 17%, 1) 100%
  );

  background: -moz-linear-gradient(
    360deg,
    hsla(189, 38%, 28%, 1) 0%,
    hsla(178, 97%, 63%, 1) 0%,
    hsla(129, 84%, 49%, 1) 100%,
    hsla(175, 74%, 17%, 1) 100%
  );

  background: -webkit-linear-gradient(
    360deg,
    hsla(189, 38%, 28%, 1) 0%,
    hsla(178, 97%, 63%, 1) 0%,
    hsla(129, 84%, 49%, 1) 100%,
    hsla(175, 74%, 17%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2c5a62", endColorstr="#44fcf5", GradientType=1 );
}

.stripe_line_vertical {
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(129, 84%, 49%, 1) 10%,
    hsla(178, 97%, 63%, 1) 90%,
    hsla(0, 0%, 9%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(129, 84%, 49%, 1) 10%,
    hsla(178, 97%, 63%, 1) 90%,
    hsla(0, 0%, 9%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(129, 84%, 49%, 1) 10%,
    hsla(178, 97%, 63%, 1) 90%,
    hsla(0, 0%, 9%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#14e734", GradientType=1 );
}

body {
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling caused by the effect */
}